{%extends 'base.html'%}
<!-- content -->
{% block content %} {{block.super}}
<a href="{% url 'new_card' %}"><span class="glyphicon glyphicon-plus-sign"></span></a>
<!-- loop -->

{% for card in cards %}
<!-- displaying Cards-->
<div class="panel">
    <h3> {{ card.title }} </h3>
    <p> {{ card.notes }} </p>
    <h5> {{ card.subject }} </h5>
    <h5> {{ card.created_on }} </h5>
</div>

{% empty %}
<div class="row">
    <h2 class="text-center">There No Cards</h2>
</div>
{% endfor %} {% endblock %}